# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
devfest/image.js
devfest/index.html
devfest/input.jpg
devfest/style-transfer/images/style-01.jpg
devfest/style-transfer/images/style-02.jpg
devfest/style-transfer/images/style-03.jpg
devfest/style-transfer/images/style-04.jpg
devfest/style-transfer/images/style-05.jpg
devfest/style-transfer/images/style-06.jpg
devfest/style-transfer/images/style-07.jpg
devfest/style-transfer/images/style-08.jpg
devfest/style-transfer/images/style-09.jpg
devfest/style-transfer/images/style-10.jpg
devfest/style-transfer/images/style-11.jpg
devfest/style-transfer/images/style-12.jpg
devfest/style-transfer/images/style-13.jpg
devfest/style-transfer/images/style-14.jpg
devfest/style-transfer/images/style-15.jpg
devfest/style-transfer/images/style-16.jpg
devfest/style-transfer/images/style-17.jpg
devfest/style-transfer/images/style-18.jpg
devfest/style-transfer/images/style-19.jpg
devfest/style-transfer/images/style-20.jpg
devfest/style-transfer/predictor/group1-shard1of3
devfest/style-transfer/predictor/group1-shard2of3
devfest/style-transfer/predictor/group1-shard3of3
devfest/style-transfer/predictor/model.json
devfest/style-transfer/predictor/tensorflowjs_model.pb
devfest/style-transfer/predictor/weights_manifest.json
devfest/style-transfer/transformer/group1-shard1of2
devfest/style-transfer/transformer/group1-shard2of2
devfest/style-transfer/transformer/model.json
devfest/style-transfer/transformer/tensorflowjs_model.pb
devfest/style-transfer/transformer/weights_manifest.json
