/* You can add global styles to this file, and also import other style files */
body {
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

:root {
  --background-color: #585454;
  --border-color: #474444;
}
