/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
}
body {
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  user-select: none;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-image: url(/assets/tiles-cubes.webp);
  animation: color-cycle 44s linear infinite;
}

:root {
  --background-color: #585454;
  --border-color: #474444;
}

app-root {
  display: block;
}
